<html>

<head>
    
    <title>SHpartners Web Framework</title>
    
    <base href="<?= $this->baseUrl() ?>"/>
    
    <link rel="stylesheet" href="../css/screen.css" media="screen" type="text/css" />
    
</head>

<body>
    
    <div id="wrapper">
        
        <h1>SHpartners Web Framework</h1>
        
        <h2>You reached this page using request method <?= $_SERVER['REQUEST_METHOD'] ?></h2>
        
        <p><a href="">go back</a></p>
        
    </div>
    
    <div id="footer">
        &copy; 2009 <a href="http://www.shpartners.com/">SHpartners</a>. All rights reserved.
    </div>
    
</body>

</html>
