<html>

<head>
    
    <title>SHpartners Web Framework</title>
    
    <link rel="stylesheet" href="css/screen.css" media="screen" type="text/css" />
    
</head>

<body>
    
    <div id="wrapper">
        
        <h1>SHpartners Web Framework</h1>
        
        <h2>Demo actions</h2>
        
        <ul>
            <li><a href="info/">Show PHP info</a></li>
            <li><a href="json/">Show JSON data</a></li>
            <li><a href="xml/">Show an XML file</a></li>
            <li><a href="redirect/">Perform a redirect</a></li>
        </ul>
        
    </div>
    
    <div id="footer">
        &copy; 2009 <a href="http://www.shpartners.com/">SHpartners</a>. All rights reserved.
    </div>
    
</body>

</html>
