<html>

<head>
    
    <title>SHpartners Web Framework</title>
    
    <base href="<?= $this->baseUrl() ?>"/>
    
    <link rel="stylesheet" href="../css/screen.css" media="screen" type="text/css" />
    
</head>

<body>
    
    <div id="wrapper">
        
        <h1>SHpartners Web Framework</h1>
        
        <h2>Demo actions</h2>
        
        <ul>
            <li><a href="info/">Show PHP info</a></li>
            <li><a href="json/">Show JSON data</a></li>
            <li><a href="xml/">Show an XML file</a></li>
            <li><a href="redirect/">Perform a redirect</a></li>
            <li>
                Display a parameter:
                <a href="page/about/">about</a> |
                <a href="page/products/">products</a> |
                <a href="page/home/">home</a>
            </li>
            <li>
                Handle ANY HTTP request:
                <a href="any/?__method__=GET">GET</a> |
                <a href="any/?__method__=POST">POST</a> |
                <a href="any/?__method__=PUT">PUT</a> |
                <a href="any/?__method__=DELETE">DELETE</a>
            </li>
        </ul>
        
    </div>
    
    <div id="footer">
        &copy; 2009 <a href="http://www.shpartners.com/">SHpartners</a>. All rights reserved.
    </div>
    
</body>

</html>
