<html>

<head>
    
    <title>SHpartners Web Framework</title>
    
    <base href="<?= $this->baseUrl() ?>"/>
    
    <link rel="stylesheet" href="../css/screen.css" media="screen" type="text/css" />
    
</head>

<body>
    
    <div id="wrapper">
        
        <h1>SHpartners Web Framework</h1>
        
        <h2>Page: <?= $this->page ?></h2>
        
        <p>This is the <b><?= $this->page ?></b> page.</p>
        
        <p>The handler parameters were:</p>
        
        <pre><? var_dump($this->params) ?></pre>
        
        <p><a href="">go back</a></p>
        
    </div>
    
    <div id="footer">
        &copy; 2009 <a href="http://www.shpartners.com/">SHpartners</a>. All rights reserved.
    </div>
    
</body>

</html>
